body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  background-color: #121212;
  color: #00ff00;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
